* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: sans-serif;
  border: none;
  user-select: none;
  text-decoration: none;
  outline: none;
}
body {
  background: url("img/a-vibrant-outer-space-themed-landscape-w_N4Hs2k_cQQKcFrpoTR5FjA_hnWUqTu9QHyAtW_I37zcqw.jpeg")
    no-repeat;
  background-size: cover;
  background-position: center center;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 30px;
}
main {
  background: rgba(45, 37, 62, 0.86);
  backdrop-filter: blur(3px);
  height: 100%;
  border-radius: 20px;
  overflow: hidden;
  padding: 20px;
  width: 85%;

  position: relative;
}
.main1 {
  display: flex;
  width: 100%;
  height: 100%;
  justify-content: space-between;
  .frontimg {
    position: absolute;
    width: 345px;
  }
}
:root {
  --sameColor: #00e058;
}
#heading {
  color: white;
  text-transform: uppercase;
  width: 286px;
  align-self: center;
  margin: 0 0 0 37px;
  line-height: 104px;
  h1 {
    font-size: 137px;
  }
  h2 {
    margin: -16px 0 0 0;
    font-size: 92px;
  }
}
#img1 {
  top: 33px;
  right: -29px;
  rotate: 194deg;
  transform: rotateX(180deg);
}
#img2 {
  bottom: 15px;
  rotate: -50deg;
  right: 333px;
}
.classicbtn {
  background: var(--sameColor);
  padding: 15px 23px;
  margin: 93px 77px 0 0;
  align-self: center;
  cursor: pointer;
  font-weight: bold;
  font-size: 30px;
  border-top-left-radius: 37px;
  border-bottom-right-radius: 34px;
  color: white;
  box-shadow: 0 0 29px 6px var(--sameColor);
  scale: 1.3;
}
#game-area {
  background: url("img/a-comic-style-background-split-diagonall_0axZwcv6QIOIjJtMc8tBeQ_bJHo4V3uRnm0fKDIxuefWw.jpeg"),
    black no-repeat;
  background-position-x: 0%, 0%;
  background-position-y: 0%, 0%;
  background-size: auto, auto;
  width: 100%;
  height: 100%;
  position: absolute;
  inset: 0;
  background-size: cover;
  display: none;
  flex-direction: column;
  justify-content: space-between;
  padding: 30px;
  background-position: center;
  background-blend-mode: hard-light;
}
#scores {
  width: 100%;
  font-size: 53px;
  display: flex;
  justify-content: space-between;
  color: white;
  font-weight: bold;
  padding: 0 35px;
  div {
    position: relative;
    z-index: 2;
    transition: all 0.3s ease;
    width: 75px;
    aspect-ratio: 1;
    font-size: 40px;
    text-align: center;
    align-content: center;
    filter: saturate(200%);
    transition: all 0.3s ease;
  }
  div::before {
    content: "👤";
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: -1;
    font-size: 85px;
    transform: translate(-50%, -50%);
  }

  .botUI::before {
    content: "💻";
  }
}
.fontsizeINC {
  font-size: 53px !important;
}
.hands {
  align-self: center;
  padding: 5px;
  display: flex;
  gap: 20px;
  transition: all 0.3s ease;
  img {
    width: 81px;
    background: black;
    padding: 10px;
    border: 5px solid rgb(239, 185, 60);
    border-radius: 9px;
    cursor: pointer;
    rotate: -90deg;
    padding-left: 0px;
  }
}

#closfing {
  border-color: #ff0101;
}
.HandSame {
  width: 314px;
  position: absolute;
  top: 50%;
  filter: hue-rotate(-16deg);
  transform: translateY(-50%);
}
#humanHand {
  left: -20px;
  transform-origin: left;
}
#botHand {
  right: -322px;
  transform-origin: left;
  transform: rotateY(180deg) translateY(-79px);
}
.sakeingHand {
  animation: sake 0.3s infinite cubic-bezier(0.86, 0, 0.07, 1) alternate;
}
@keyframes sake {
  0% {
    rotate: -5deg;
  }
  50% {
    rotate: 0;
  }
  100% {
    rotate: 5deg;
  }
}
.message {
  color: transparent;
  font-size: 76px;
  transform-origin: center;
  text-transform: uppercase;
  background: linear-gradient(69deg, #ffa700, red);
  background-clip: text;
  filter: drop-shadow(0 0 1px black) drop-shadow(0 0 1px black)
    drop-shadow(0 0 1px black) drop-shadow(0 0 1px black)
    drop-shadow(0 0 1px black) drop-shadow(0 0 1px black);
  font-weight: bold;
  position: absolute;
  top: 50%;
  left: 50%;
  transition: all 0.2s ease;
  transform: translate(-50%, -50%) scale(0);
}
.final {
  position: absolute;
  padding: 24px;
  width: 100%;
  height: 100%;
  color: white;
  inset: 0;
  z-index: 3;
  display: none;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  h1 {
    font-size: 130px;
  }
  button {
    background: #5c00ff;
    cursor: pointer;
    font-weight: bold;
    padding: 15px;
    font-size: 30px;
    color: white;
    border-radius: 4px;
    box-shadow: 0 0 17px #5c00ff;
  }
  img {
    position: absolute;
    width: 400px;
  }
  #img1 {
    top: 55%;
    rotate: -129deg;
  }
  #img2 {
    left: -3px;
  }
}
